<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>ProjectMid</display-name>
 
<context-param>
<param-name>INIT_PARAM</param-name>
<param-value>배포서술자에 저장된 초기화 매개변수</param-value>
</context-param>
<context-param>
<param-name>OracleDriver</param-name>
<param-value>oracle.jdbc.OracleDriver</param-value>
</context-param>
<context-param>
<param-name>OracleUrl</param-name>
<param-value>jdbc:oracle:thin:@localhost:1521:xe</param-value>
</context-param>
<context-param>
<param-name>OracleId</param-name>
<param-value>project</param-value>
</context-param>
<context-param>
<param-name>OraclePw</param-name>
<param-value>1234</param-value>
</context-param>
<context-param>
<param-name>PAGE_SIZE</param-name>
<param-value>10</param-value>
</context-param>
<context-param>
<param-name>PAGE_BLOCK</param-name>
<param-value>5</param-value>
</context-param>

<error-page>
<error-code>404</error-code>
<location>/02ImplicitObject/Exception.jsp</location>
</error-page>
<error-page>
<error-code>405</error-code>
<location>/02ImplicitObject/Exception.jsp</location>
</error-page>
<error-page>
<error-code>500</error-code>
<location>/02ImplicitObject/Exception.jsp</location>
</error-page>

<filter>
<filter-name>SetCharEncoding</filter-name>
<filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
<init-param>
<param-name>encoding</param-name>
<param-value>UTF-8</param-value>
</init-param>
</filter>
<filter-mapping>
<filter-name>SetCharEncoding</filter-name>
<url-pattern>/*</url-pattern>
</filter-mapping>

<servlet>
<servlet-name>FirstServlet</servlet-name>
<servlet-class>servlet.FirstServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>FirstServlet</servlet-name>
<url-pattern>/13Servlet/FirstServlet.doss</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>ServletView</servlet-name>
<servlet-class>servlet.ServletView</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>ServletView</servlet-name>
<url-pattern>/13Servlet/ServletView.do</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>MemberAuth</servlet-name>
<servlet-class>servlet.MemberAuth</servlet-class>
<init-param>
<param-name>manager_id</param-name>
<param-value>manager</param-value>
</init-param>
</servlet>
<servlet-mapping>
<servlet-name>MemberAuth</servlet-name>
<url-pattern>/13Servlet/MemberAuth.mvc</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>M2BoardList</servlet-name>
<servlet-class>m2board.ListController</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>M2BoardList</servlet-name>
<url-pattern>/m2board/list.do</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>M2BoardWrite</servlet-name>
<servlet-class>m2board.WriteController</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>M2BoardWrite</servlet-name>
<url-pattern>/m2board/write.do</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>loginOut</servlet-name>
<servlet-class>loginOut.LoginController</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>loginOut</servlet-name>
<url-pattern>/loginOut/loginOut.do</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>Matching</servlet-name>
<servlet-class>matching.MatchingController</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Matching</servlet-name>
<url-pattern>/matching/main.do</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>MatchingView</servlet-name>
<servlet-class>matching.MatchingViewController</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>MatchingView</servlet-name>
<url-pattern>/matching/matchingView.do</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>MatchingJJIM</servlet-name>
<servlet-class>matching.MatchingJJIMController</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>MatchingJJIM</servlet-name>
<url-pattern>/matching/matchingJJIM.do</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>MyMatching</servlet-name>
<servlet-class>matching.MyMatchingController</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>MyMatching</servlet-name>
<url-pattern>/matching/myMatching.do</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>MyMatchingSuc</servlet-name>
<servlet-class>matching.MyMatchingSucController</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>MyMatchingSuc</servlet-name>
<url-pattern>/matching/myMatchingSuc.do</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>MyPage</servlet-name>
<servlet-class>myPage.MyPageController</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>MyPage</servlet-name>
<url-pattern>/myPage/MyPage.do</url-pattern>
</servlet-mapping>

<context-param>
<param-name>maxPostSize</param-name>
<param-value>102400000</param-value>
</context-param>

<context-param>
    <param-name>CHAT_ADDR</param-name>
    <param-value>ws://localhost:8081/ProjectMid</param-value>
</context-param>
</web-app>